<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduction to marko</title>

    <style>

      body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #f4f4f4;
      margin: 0;
    }

      .login-container{
        background:#ddd7d7;
        width:50%;
        height:50%;
        display:flex;
        flex-direction:column;
        row-gap:10px;
        justify-content:center;
        align-items:center;
      }

      .login-container input{
        padding:10px;
        outline:none;
        border-radius:10px;
        width:50%;
      }

      .login-container button{
        padding:10px;
        outline:none;
        background:#007fff;
        width:30%;
      }

    </style>
  </head>

  <body>

   <form.login-container>

     <h3>LOGIN</h3>

     <input type="text" placeholder="Enter email" required/>
     <input type="password" placeholder="Enter password" required/>
     <button>Login</button>


   </form>

  </body>

</html>
